<div class="example-header">
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (change)="applyFilter($event)" placeholder="">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Subject </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.subject}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Language </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.language}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="classification">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Classification </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.classification}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> CreationDate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.creationDate | date:'dd-MM-yyyy HH:mm:ss '}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastModifiedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> LastModifiedDate </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastModifiedDate| date:'dd-MM-yyyy HH:mm:ss '}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator #paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15, 20]" (page)="nextPage($event)"> </mat-paginator>

</div>