    <ng-template #mymodal let-modal >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New ticket</h4>
                <button type="button" class="close" (click)="modal.close('Cross click')">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="addTicket();modal.close();">
    
                    <label for="subject"> Subject:</label>
                    <input type="text" class="form-control" id="subject" formControlName="subject" required>
     
                    <label for="classification"> Classification:</label>
                    <input type="text" class="form-control" id="classification" formControlName="classification" required>
    
                    <!-- <label for="contactId"> Contact:</label>
                    <input type="text" class="form-control" id="contactId" formControlName="contactId" required>
                     -->
    
                    <label for="category"> Select Category:</label>
                    <select class="form-control" id="category" formControlName="category" required>
                        <option value="sales">Sales</option>
                        <option value="it">IT</option>
                        <option value="hr">HR</option>
                        <option value="marketing">Marketing</option>
                    </select>
                    <label for="language"> Select Language:</label>
                    <select class="form-control" id="language" formControlName="language" required>
                        <option value="french">French</option>
                        <option value="english">English</option>
    
                    </select>
                    <label for="description"> Description:</label>
                    <textarea class="form-control" rows="5" id="description" formControlName="description"
                        required></textarea>
                        <div class="form-group">
                            <input type="file" multiple (change)="onFileSelected($event)">
                        </div>
    
                            <input [style.marginTop]="'10px'" type="file" class="file-input" multiple (change)="onFileSelected($event)" #fileUpload>
    
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
    
                </form>
            </div>
    
        </div>
    </ng-template>
    
    
    <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)" id="button">New Ticket</button>
